{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "es5",
    "prettier.semi": true,
  "prettier.eslintIntegration": true,
  "jsxBracketSameLine": false,
  "endOfLine": "auto"
  }
  